@charset "UTF-8";
@import "variables";
@import "../node_modules/bootstrap/scss/bootstrap.scss";

/* @import "../node_modules/react-bootstrap-table/dist/react-bootstrap-table-all.min" */;

body{
    background-color:#fff4d1;
    font-family: 'Roboto', sans-serif;
}


.nav-link:hover{
    text-decoration: underline;
    text-decoration-color: $secondary;
}

.vh-100{
    height: 100vh
}

.vh-80{
    height: 80vh
}

.loading{
    color: $secondary
}

.spin{
    -webkit-animation: spin 5s linear infinite;
    animation: spin 5s linear infinite;
     
    /* include this only once */
    @-webkit-keyframes spin {
        0%   {
            -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(0deg);  /* IE 9 */
            transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
        }
        100% {
            -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(360deg);  /* IE 9 */
            transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
        }
    }
    @keyframes spin {
        0%   {
            -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(0deg);  /* IE 9 */
            transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
        }
        100% {
            -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(360deg);  /* IE 9 */
            transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
        }
    } 
}

.spin-inverse{
    -webkit-animation: spin-inverse 5s linear infinite;
    animation: spin-inverse 5s linear infinite;
     
    /* include this only once */
    @-webkit-keyframes spin-inverse {
        100%   {
            -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(0deg);  /* IE 9 */
            transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
        }
        0% {
            -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(360deg);  /* IE 9 */
            transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
        }
    }
    @keyframes spin-inverse {
        100%   {
            -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(0deg);  /* IE 9 */
            transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
        }
        0% {
            -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(360deg);  /* IE 9 */
            transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
        }
    } 
}

#message{
    height: 25vh;
    
    @include media-breakpoint-up(md){
        height: 40vh
    }
}

#loading-icon{
    width: 40%;

    @include media-breakpoint-up(md){
        width: 30%;
    }

    @include media-breakpoint-up(lg){
        width: 20%;
    }
}

#header-icon{
    width: 10%;
    height: 10%;
    position: absolute;
    z-index: 1;
    left: 6%;
    
}

#sun{
    width: 10%;
    height: 10%;
    position: absolute;
    left: 6%;
}

.spacer{
    height: 400px;

    @include media-breakpoint-up(md){
        height: 500px;
    }

    @include media-breakpoint-up(lg){
        height: 600px;
    }
}
.object-fit-cover{
    object-fit: cover;
}

.btn-filter-text{
    color: $light;

    &:hover{
        color: $light
    }

    &:active{
        color: $light
    }

    &:visited{
        color: $light
    }

}

.header-bock{
    height: 95px;
    left: 0;
    top: 0;

}

.portfolio-link{
    color: $secondary;
    margin-right: 0.7rem;

    &:hover{
        color: darken($color: $secondary, $amount: 10)
    }
    &:focus{
        color: darken($color: $secondary, $amount: 10)
    }
    &:active{
        color: darken($color: $secondary, $amount: 10)
    }
}

.title-box{
    visibility: hidden;
    opacity: 0;
    background-color: $primary;
    color: $light;
    width: 100%;
    height: 100%;
    -webkit-transition:visibility 0.2s ease-in; 
    -webkit-transition:opacity 0.2s ease-in; 

}

.card:hover .title-box{
        visibility: visible;
        opacity: 1;
    
}

.card-text{
    position: absolute;
    bottom: 10%;
    left: 10%
}

/* .filter-button{
    background-color: $secondary;
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    margin: 5px 5px 5px 0;

    &:hover{
        background-color: $light;
        text-decoration: none;
    }
} */