@charset "UTF-8";
@import "variables";
@import "../node_modules/bootstrap/scss/bootstrap.scss";

/* @import "../node_modules/react-bootstrap-table/dist/react-bootstrap-table-all.min" */;

body{
    background-color: #9EC5AB;
}

.icon-spin {
    display: inline-block;
    animation: spin 1s infinite linear;
  }